body{
    overflow-x: hidden;
}
a{
    color: #00a7ec !important;
    text-decoration: none !important;
}
.lh-1{
    line-height: 1 !important;
}
.pad-0{
    padding: 0px !important;
}
.pad-05{
    padding: 0.5rem !important;
}
.mar-0{
    margin: 0px !important;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-05{
    margin-top: 0.5rem !important;
}
.mt-08{
    margin-top: 0.8rem !important;
}
.mt-02{
    margin-top: 0.2rem !important;
}
.pl-5{
    padding-left: 5px !important;
}
.pl-10{
    padding-left: 10px !important;
}
.pr-10{
    padding-right: 10px !important;
}
.pr-5{
    padding-right: 5px !important;
}
.pad-b-03{
    padding-bottom: 0.3rem !important;
}
.clr-orange{
    color: #e85324 !important;
}
.img-thumbnail{
    background: none !important;
}
.modal{
    z-index: 99999999;
}
.btm-content p{
    text-align: center;
    color: #333;
}
.membership-categories{
    margin-top: 2.8rem;
}
.storename-txt span{
    font-size: 70%;
    display: block;
    line-height: 14px !important;
}
.deals-cart .price-txt{
    margin-top: 0 !important;
}
.flag-text { margin-left: 10px; }
/*.select2-dropdown{
    top: 25px;
}*/
#snackbar {
    visibility: hidden;
    min-width: 150px;
    margin-left:0;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 8px;
    position: fixed;
    z-index: 1;
    left: auto;
    right: auto;
    bottom: 30px;
    font-size: 15px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
.select2-container {
    z-index: 99999999;
}
.login-form .select2 {
    width: 100% !important;
}
.dash-mar{
    margin-top: 60px;
}
.cat-border-right {
    border-right: 2px solid #ddd !important;
    position: absolute;
    left: 100%;
    top: 5%;
    height: 60px;
}
.clr-grey{
    background-color: #eee !important;
    margin-bottom: 0rem;
}
.deals-group{
    margin-top: 40px;
}
.img-thumbnail{
    border: none !important;
}
.login-logo{
  padding: 1.2rem 0rem 1rem;
}
.login-form .form-control{
    background-color: #eee !important;
    font-size: 0.8rem !important;
    border: none;
    padding: .375rem .45rem;
}
.login-form .input-group-text {
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #777;
    text-align: center;
    white-space: nowrap;
    background-color: #eee;
    border: 0px solid #ced4da;
    border-radius: .25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.login-form .select2-container--default .select2-selection--single {
    background-color: #eee;
    border: 0px solid #aaa;
    border-radius: 0.25rem;
    font-size: 0.8rem !important;
    color: #888;
}
.login-form .select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 38px;
    user-select: none;
    -webkit-user-select: none;
}
.login-form .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #666;
    line-height: 36px;
}
.login-form .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #00a7ec !important;
    color: #fff;
}
.select2-results__option {
    padding: 0.3rem !important;
    font-size: 0.9rem !important;
}
.membership-tabs.login-signup-content{
    text-align: left !important;
}
.btn-primary{
    text-transform: capitalize !important;
    background-color: #00a7ec !important;
    border: none;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    padding: 0.5rem .75rem;
    margin-bottom: 1.5rem;
    box-shadow: 1px 4px 6px #e1e1e1;
}
.qty-left-txt{
    font-size: 70%;
    display: block;
    color: #e85324;
}
.agree-txt p{
    text-align: left;
    font-size: 0.8rem;
}
.modal-header {
    padding: 0.3rem 0.8rem;
}
.modal-footer {
    padding: 0.3rem 0.5rem;
}
.login-modal p{
    font-size: 0.85rem !important;
}
.login-modal .modal-header h5{
    color: #00a7ec;
}
.profile-pic{
    padding: 2rem 0rem 1rem;
}
.profile-pic .fa{
    color: #c5c5c5;
    margin-bottom: 8px;
}
.profile-pic p{
    font-size: 0.9em;
    margin-bottom: 5px;
}
.profile-pic h5{
    color: #00a7ec;
}
.fa-6x{
    font-size: 6em;
}
.sidebar-toggle{
    padding: 10px 20px 17px 0;
}
.position-fixed{
    width: 100%;
    z-index: 999;
    top: 0;
}
.topheader-content{
    background-color: #fff;
    box-shadow: 1px 4px 6px #e1e1e1;
    padding: 0.50rem 1rem;
    margin-bottom: 1.3rem;
    width: 100%;
}
.topheader-content .fa{
    color:#00a7ec;
}
.topheader-content .select2-container--default .select2-selection--single {
    background: none ;
    border: 0px;
    border-radius: 0;
    font-size: 0.8rem !important;
    color: #888;
}
.topheader-content .select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 5px;
    user-select: none;
    -webkit-user-select: none;
}
.topheader-content .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #333;
    line-height: 10px;
}
.topheader-content .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 5px;
    position: absolute;
    top: 3px;
    right: 1px;
    width: 20px;
    left: auto;
}
.coins-txt img{
    display: inline-block;
    vertical-align: top;
}
.coins-txt span{
    color: #e56037;
    font-size: 0.8rem;
    line-height: 12px;
    display: block;
    margin-top: 0.2rem;
}
.coins-txt p{
    color: #333;
    font-size: 0.8rem;
    margin-bottom: 0px !important;
    line-height: 12px;
    display: inline-block;
}
.dash-cards .card {
    box-shadow: 1px 2px 12px 2px #e1e1e1;
    border: 0;
    border-radius: 0.53rem;
    margin-bottom: 1rem;
}
.dash-cards .card-body {
    padding: 0.5rem 0.5rem 0.2rem;
}
.dash-cards .card-body .panel-grey {
    background-color: #eee;
    border-radius: 1rem 0 0 1rem;
    margin-bottom: 0.8rem;
}
.dash-cards .card-body .panel-grey img {
    text-align: right !important;
    background: none;
    padding: 0px !important;
}
.dash-cards .card-body .panel-grey h5 {
    padding: 8% 0 0 4%;
    font-size: 115%;
}
.dash-cards .card-body .panel-grey a {
    color:#333 !important;
    text-decoration: none;
}
.dash-cards .card-body .panel-grey .fa {
    padding: 0.35rem 0.4rem;
    color: #00a7ec;
    border: 1px solid #00a7ec;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 12px;
    margin: 0.12rem 0.5rem;
}
.top-logo img{
    margin-left: 0.95rem;
}
.sidebar-profile{
    background-color: #00a7ec;
    padding: 1rem 0.5rem;
}
.sidebar-profile .fa{
    color: #fff;
}
.sidebar-profile h5{
    color: #fff;
    font-size: 1rem;
}
.sidebar-profile p{
    margin: 0.3rem 0;
    font-size: 0.9rem;
    color:#fff;
}
.sidebar-profile .refeeral-bg{
    background-color: #0699d6;
    border-radius: 1rem;
    padding: 0.3rem 0.3rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.2;
    margin-top: 0.5rem;
}
.sidebar-menu li a{
    color: #555 !important;
    text-decoration: none;
    line-height: 3;
    display: block;
    padding: 0 0.9rem;
    border-bottom: 1px solid #eee;
}
.sidebar-menu li:last-child a{
    border-bottom: 0px solid #eee;
}
.sidebar-menu li a:hover{
    background-color: #eee;
}
.sidebar-menu li a .fa{
    width: 20px;
    height: 20px;
    font-size: 1rem;
}
.search-bar{
    background-color: #eee;
    padding: 0.3rem 0;
    border: 1px solid #ddd;
}
.search-bar .input-group-text {
    padding: .375rem .55rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #777;
    text-align: center;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-right: 0 !important;
    border-radius: .25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.search-bar .form-control {
    border-radius: 0;
    border-left: 0px !important;
}
.categories-bar .scroller-cat{
    text-align: left;
}
.categories-bar .scroller-cat .nav{
    display: inline-block;
}
.categories-bar .scroller-cat .nav .nav-link{
    padding: 0 0.3rem !important;
}
.categories-bar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.categories-bar ul li{
    display: inline-block;
    padding: 0 4px;
}
.categories-bar{
    background-color: #fff;
    padding: 0.5rem 0;
    box-shadow: 1px 4px 6px #e1e1e1;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    margin-top: 40px;
}
.categories-bar p{
     margin: 0px !important;
}
.categories-bar .cat-circle img{
    border: 1px solid #999 !important;
    padding: 0.3rem;
    text-align: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-bottom: 0.1rem;
    background-color: #fff;
}
.categories-bar .cat-circle a{
    text-align: center;
    color: #555 !important;
    font-size: 0.8rem;
    text-decoration: none;
}
.categories-bar .cat-circle a.active{
    color: #e56037 !important;
}

.top-banner{
    text-align: center;
    margin: 190px 0 0;
}
.top-banner .img-thumbnail{
    background: none;
    padding: 0 !important;
    border-radius: 0 !important;
    text-align: center;
}
.main-titles a{
    font-size: 1rem;
    text-decoration: none;
    margin-top: 0.2rem;
}
.main-titles h5{
    margin-top: 0.6rem;
}
.top-picks{
    background-color: #fff;
    padding: 0.8rem 0;
    box-shadow: 1px 4px 6px #e1e1e1;
    text-align: center;
}
.top-picks img{
    background: #fff;
    border-radius: 0.3rem;
    border: 1px solid #999 !important;
}
.top-picks p{
    font-size: 70%;
    margin-bottom: 0;
}
.deal-box .view-coupon .fa.no-circle{
    border-radius: 0 !important;
    border: 0px !important;
    padding: 0 !important;
    width: auto !important;
    height: auto !important;
}
.deal-box .view-coupon a{
    text-decoration: none;
    font-size: 75%;
}
.deal-box .green-txt{
    font-size: 65%;
    margin-top: 0.3rem;
    color: #008f34;
}
.deals-listing{
    background-color: #fff;
    padding: 0.3rem 0;
    box-shadow: 1px 4px 6px #e1e1e1;
}
.deals-listing .deal-box{
    border-bottom: 1px solid #eee;
    padding: 0.3rem 0;
}
.deals-listing .deal-box:last-child{
    border-bottom: 0px solid #eee !important;
}
.deals-listing .deal-box h5{
    font-size: 100%;
    margin: 0 0 0.3rem;
}
.deals-listing .deal-box img{
    border: 2px solid #ddd !important;
    padding: 0.15rem;
    text-align: center;
    border-radius: 6px;
    width: 52px;
    height: 52px;
}
.deals-listing.membership-categories .deal-box img{
    padding: 0.35rem;
}
.deals-listing .deal-box .fa {
    padding: 0.35rem 0.4rem;
    color: #00a7ec !important;
    border: 1px solid #00a7ec !important;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 12px;
    margin: 0;
}
.deals-listing .deal-box .btn-sm {
    padding: 0.12rem 0.25rem;
    line-height: 0.95;
    font-size: 0.75rem;
}
.deals-listview{
    margin: 45px 0 0px;
}
.deals-listview .deal-list-box{
    background-color: #fff;
    padding: 0.5rem 0.3rem;
    margin-bottom: 6px;
}
.deals-listview .deal-list-box .img-thumbnail{
    background: none;
    padding: 0;
    border-radius: 0;
}
.deals-listview .deal-list-box p{
    font-size: 125%;
    text-align: left;
    line-height: 1.2;
    margin-bottom: 25px;
    color: #212529;
}
.deals-listview .deal-list-box .price-txt p{
    font-size: 125%;
    text-align: left;
    line-height: 1.2;
    margin-bottom: 5px;
    color: #212529;
}
.deals-listview .deal-list-box .price-txt span{
    font-size: 85%;
    line-height: 1.2;
    text-decoration: line-through;
    color: #999;
    text-align: left !important;
}
.deals-listview .deal-list-box .price-txt b{
    font-size: 65%;
    line-height: 1.2;
    color: #999;
    text-align: left !important;
    display: block;
    font-weight: normal;
}
.deals-listview .deal-list-box .qty-txt{
    background-color: #eee;
    padding: 0.1rem 0.3rem;
    font-size: 100%;
    color: #212529;
}
.deals-listview .deal-list-box .terms-bg a{
    color: #00a7ec !important;
    text-decoration:  none;
    margin-right: 2rem;
}
.deals-listview .deal-list-box .terms-bg .qty-txt a{
    margin-left: 0 !important;
}
.deals-listview .deal-list-box .buynow-txt{
    text-align: right;
}
.deals-listview .deal-list-box .buynow-txt span{
    font-size: 75%;
}
.deals-listview .deal-list-box .buynow-txt{
    color: #228B22 !important;
    font-size: 125%;
}
.deals-listview .deal-list-box .buynow-txt .btn-primary{
    border-radius: 0;
    padding: 0.3rem 0.5rem 0.4rem;
    font-size: 85%;
    line-height: 0.9;
    margin-bottom: 0;
}
.deals-cart{
    background-color: #fff;
    box-shadow: 0px -1px 4px #e1e1e1;
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding-bottom: 0.1rem;
}
.deals-cart .main-img{
    text-align: center;
}
.deals-cart .img-thumbnail{
    background: none;
    padding: 0;
    margin: 0px auto;
    border-radius: 0;
}
.deals-cart .dealname-txt h5{
    font-size: 125%;
    text-align: left;
    margin-top: 0.4rem;
}
.deals-cart .icon-circle{
    position: absolute;
    right: 0;
    left: auto;
    top: -18px;
    text-align: right!important;
}
.deals-cart .icon-circle .fa {
    background-color: #fff;
    box-shadow: 0px -1px 4px #999;
    text-align: center;
    padding: 0.7rem;
    border-radius: 100%;
    color: #666;
    font-size: 145%;
    bottom: auto;
    margin: 0 0.3rem 0 0;
}
.deals-cart .icon-circle .fa:hover{
    color: #e85324;
}
.deals-cart .price-txt p {
    font-size: 125%;
    text-align: left;
    line-height: 1.2;
    margin-bottom: 10px;
}
.deals-cart .price-txt b {
    font-size: 65%;
    line-height: 1.2;
    color: #999;
    text-align: left !important;
    display: block;
    font-weight: normal;
}
.deals-cart .price-txt span {
    font-size: 85%;
    line-height: 1.2;
    text-decoration: line-through;
    color: #999;
    text-align: left !important;
}
.features-txt{
    margin-top: 5px !important;
}
.deals-cart .storename-txt a {
    font-size: 100%;
    text-align: left !important;
    text-decoration: none;
}
.deals-cart .features-txt img {
    display: inline-block;
}
.deals-cart .features-txt .jb-ratings {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 0 0.2rem 0.2rem;
    border-radius: 0.2rem;
    margin: 0.9rem 0.3rem 0;
}
.deals-cart .features-txt .jb-ratings b {
    font-weight: normal;
    font-size: 80%;
}
.deals-cart .features-txt .jb-ratings img {
    border-right: 1px solid #ddd !important;
    padding-right: 5px;
}
.deals-cart .buynow-txt {
    color: #228B22 !important;
    font-size: 125%;
}
.deals-cart .buynow-txt {
    color: #228B22 !important;
    font-size: 125%;
}
.deals-cart .buynow-txt span {
    font-size: 75%;
}
.deals-cart .buynow-txt .btn-primary {
    border-radius: 0;
    padding: 0.3rem 0.5rem 0.4rem;
    font-size: 85%;
    line-height: 0.9;
    margin-bottom: 0;
}
.deals-cart hr {
    margin: 0.3rem 0 0.3rem;
}
.deals-cart .bought-txt p {
    font-size: 100%;
    margin: 0;
}
.deals-cart .ratings-star {
    text-align: right;
    color: #e85324;
    font-size: 100%;
}
.deals-cart .bought-txt a{
    font-size: 100%;
    text-decoration: none;
    margin-left: 0.8rem;
}
.deals-cart .deals-tabs .nav-tabs {
    border-bottom: 0;
}
.deals-cart .deals-tabs .nav-tabs .nav-link {
    color: #666;
    background: none;
    border: 0;
    border-radius: 0;
    padding: 1rem 0.2rem;
}
.deals-cart .deals-tabs .nav-tabs li:last-child {
    border: 0;
    border-right: 0px solid #ddd !important;
}
.deals-cart .deals-tabs .nav-tabs li{
    font-size: 100%;
    border-right: 1px solid #ddd;
    text-decoration: none;
    text-align: center;
    line-height: 1.3;
}
.deals-cart .deals-tabs .nav-tabs li:hover{
    background-color: #eee;
}
.deals-cart .deals-tabs .nav-tabs li.active{
    background-color: #eee;
}
.deals-cart .hr-border0 hr{
    margin-bottom: 0 !important;
}
.deals-tab-content .address-txt{
    margin-top: 0.7rem;
}
.deals-tab-content .address-txt h5{
    font-size: 115%;
    color: #e85324;
    margin-bottom: 4px;
}
.deals-tab-content .address-txt p{
    font-size: 100%;
    margin-bottom: 8px;
    margin-left: 1rem;
}
.deals-tab-content .terms-txt ul{
    list-style-type: disc;
    margin: 0.5rem 0;
    padding-left: 1.5rem;
}
.deals-tab-content .terms-txt ul{
    list-style-type: disc;
    margin: 0.5rem 0;
    padding-left: 1.1rem;
    font-size: 100%;
}
.successfull-inner{
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    background-color:#fff ;
    box-shadow: 0px 5px 8px -4px rgba(0,0,0,0.32);
    border-radius: 5px;
    padding-bottom: 12px;
}
.successfull-inner img{
    margin: 0px auto;
}
.successfull-inner .fa{
    background-color: #2f9800;
    color: #fff;
    font-size: 36px;
    border-radius: 50%;
    padding: 14px;
    position: relative;
    top: -25px;
    bottom: 0;
    margin-bottom: 0px;
    box-shadow: 2px 4px 0px 3px rgba(0,0,0,0.07);
    width: 65px;
    height: 65px;
}
.successfull-inner.color-red .fa{
    background-color: #ff0000;
}
.successfull-inner h3{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 12px;
}
.successfull-inner p{
    font-size: 15px;
    line-height: 22px;
}
.successfull-inner h4{
    font-size: 18px;
    margin-top: 15px;
}
.successfull-inner h2{
    font-size: 24px;
    font-weight: 600;
    color: #e05124;
}
.successfull-inner hr {
    margin-top: 12px;
    margin-bottom: 12px;
    border: 0;
    border-top-width: 0px;
    border-top-style: none;
    border-top-color: currentcolor;
    border-top: 2px solid #eee;
}
.scroller-cat .nav-tabs .nav-link.active {
    color: #495057;
    border-color: #fff;
    background-color: #ddd;
}
.scroller-cat .nav-tabs .nav-link:hover {
    color: #e05124 !important;
    background-color: #ddd;
    border-color: #fff;
}
.scroll {
    white-space: nowrap; /* [1] */
    overflow-x: scroll; /* [2] */
    -webkit-overflow-scrolling: touch !important; /* [3] */
    -ms-overflow-style: -ms-autohiding-scrollbar !important; /* [4] */
}

/* [5] */
.scroll::-webkit-scrollbar {
    display: none; }
.bottom-btns{
    margin-bottom: 25px;
    text-align: center;
}
.bottom-btns .btn {
    width: 100%;
    max-width: 120px;
    margin-top: 15px;
    font-size: 16px;
    margin-left: 6px;
    margin-right: 6px;
}

.bottom-btns .btn-primary {
    color: #fff;
    background-color: #00beff;
    border-color: #00beff;
}
.bottom-btns .btn-primary:hover {
    opacity: 0.8;
}
.bottom-btns .btn-default {
    background-color: #fff;
    border-color: #fff;
    color: #333;
}
.bottom-btns .btn-default:hover {
    opacity: 0.8;
}
.thnx-img {
    text-align: center !important;
    margin-top: 10px;
}
.thnx-img img{
    max-width: 155px;
    margin: 0px auto;
}
.buy-summary-head .modal-header{
    background-color: #00a7ec !important;
    border-radius: 0;
}
.buy-summary-head .modal-header h4{
    font-size: 100%;
    color: #fff;
    font-weight: 600;
    margin-bottom: 0.3rem;
}
.buy-summary-head .modal-content{
    border-radius: 0;
}
.buy-summary-head .panel-border{
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    padding: 0.3rem 0.2rem;
    margin-bottom: 0.5rem;
}
.buy-summary-head .panel-border .btn-sm{
    padding: 0.3rem 0.2rem;
    border-radius: 0;
    line-height: 1;
    font-size: 70%;
    box-shadow: none;
    margin: 0;
}
.buy-summary-head .panel-border h5{
    font-size: 80%;
    margin: 0;
}
.buy-summary-head .panel-border p{
    font-size: 70%;
}
.buy-summary-head .panel-border .form-control {
    height: calc(1.35rem + 2px);
    padding: .12rem .35rem;
    font-size: 80%;
    line-height: 1;
    border: 1px solid #ced4da;
    border-radius: 0;
    margin-top: 2px;
}
.buy-summary-head .panel-border .jb-coins-area {
    font-size: 100%;
    margin-top: 2px;
}
.buy-summary-head .pricedetail-content h4{
    font-size: 105%;
}
.buy-summary-head .panel-border.total-amount p {
    font-size: 85% !important;
    margin-bottom: 0.5rem;
}
.buy-summary-head .panel-border.total-amount .fnt-2x {
    font-size: 105% !important;
    color: #e85324;
}
.buy-summary-head .pay-now-btn{
    margin-top: 0.8rem;
}
.buy-summary-head .pay-now-btn p{
    color: #228B22 !important;
    margin-top: 0.3rem;
}
.buy-summary-head .pay-now-btn .btn-primary{
    margin-bottom: 0.5rem;
}
.membership-tabs {
    text-align: center;
    margin: 48px 0 0px;
}
.membership-tabs .nav-tabs {
    background-color: #fff;
}
.membership-tabs .nav-tabs li a {
    color: #666 !important;
    font-size: 115%;
    padding: 0.7rem 0;
    border-top: 1px solid #ddd !important;
}
.membership-tabs .nav-tabs li a:hover{
    background-color: #e56037;
    color: #fff !important;
    border-radius: 0 !important;
}
.membership-tabs .nav-tabs li a.active{
    background-color: #e56037;
    color: #fff !important;
    border-radius: 0 !important;
}
.membership-tabs .deal-box h5{
    font-weight: 600;
    font-size: 125%;
    color: #444;
}
.membership-tabs .deal-box h5 span{
    font-weight: normal;
    font-size: 95% !important;
    color: #444;
}
.membership-tabs .deal-box h5 span b{
    font-weight: normal;
    font-size: 78% !important;
    color: #666;
    text-decoration: line-through;
}
.membership-tabs .deal-box h5 span .fa{
    font-size: 85% !important;
    border: 0 !important;
    padding: 0;
    width: auto;
    height: auto;
    color: #444 !important;
    margin: 0;
}
.membership-store{
    margin: 182px 0;
}
.membership-deal{
    margin: 48px 0 0;
}
.membership-deal .deal-box h5{
    margin: 1rem 0;
}
.membership-deal .deal-box .fa{
    margin: 1rem 0;
}
.location-select a{
    color: #444 !important;
    font-size: 85%;
    text-align: center;
    text-decoration: none;
}
.location-select a .fa{
    color: #777 !important;
}
.deals-listing.membership-group img{
    border: 0 !important;
    padding: 0 !important;
    text-align: center !important;
    border-radius: 0 !important;
    width: 55px !important;
    height: 55px !important;
}
.membership-group .color-blue a{
    color: #09A7EB !important;
    text-decoration: none;
}
.membership-group .color-green a{
    color: #009846 !important;
    text-decoration: none;
}
.membership-group .color-maroon a{
    color: #C6254A !important;
    text-decoration: none;
}
.membership-group .color-magenta a{
    color: #E51A4B !important;
    text-decoration: none;
}
.membership-group .color-orange a{
    color: #E05124 !important;
    text-decoration: none;
}
.membership-group .color-yellow a{
    color: #F8AE2A !important;
    text-decoration: none;
}
.membership-group span{
    position: absolute;
    left: 34px;
    top: 12px;
    font-size: 70%;
    font-weight: bold;
    text-align: center;
    line-height: 12px;
}
.footer-content.cart-footer{
    background-color: #e85324;
}
.footer-content.cart-footer .short-txt{
    font-size: 75%;
    margin-top: 0.2rem;
    color: #fcf8e3;
}
.footer-content.cart-footer span{
    color: #fff;
    font-size: 80%;
    text-decoration: line-through;
}
.footer-content.cart-footer p{
    color: #fff;
    font-size: 120%;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 0.8;
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
}
.footer-content.cart-footer a{
    color: #fff !important;
    font-size: 125%;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 2;
    text-decoration: none;
    display: block;
}
.footer-content.cart-footer .shortwhite-txt{
    color: #fff;
    font-size: 75%;
}
.footer-content.cart-footer .fa{
    color: #fff;
    font-size: 90%;
    font-weight: normal;
}
.footer-content{
    background-color: #fff;
    box-shadow: 0px -1px 4px #e1e1e1;
    border-top: 1px solid #ccc;
    position: fixed;
    bottom: 0;
    width: 100%;
    right: 0;
    left: 0;
}
.footer-content ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.footer-content ul li{
    display: inline-block;
    width: 18%;
}
.footer-content ul li .fa{
    display: block;
    font-size: 1.1rem !important;
}
.footer-content ul li a{
    color: #555 !important;
    text-decoration: none;
    font-size: 75%;
    line-height: 1;
}
.footer-content ul li a.active{
    color: #e85324 !important;
}
.footer-content ul li a:hover{
    color: #e85324 !important;
}
/* jssor slider loading skin spin css - Start */
.top-banner .banner-slides{
    position: relative;
    cursor:default;
    width:980px;
    height:280px;
    overflow:hidden;
    left: 0;
    right: 0;
}
.top-banner #jssor_1{
    text-align: center;
    margin:0 auto;
    width:980px;
    height:280px;
    overflow:hidden;
    visibility:hidden;
}
.top-banner #jssor_1 img{
    margin:0 auto;
    padding: 0 20px 0 20px !important;
}
.login-form .btn-primary{
    padding: 6px 28px;
    margin-top: 12px;
}
.deals-listview hr{
    margin: 0.5rem 0;
}
.price-txt{
    margin-top: 2.9rem;
}
.terms-bg{
    margin-top: 0.25rem;
}
.terms-bg .fa{
    font-size: 135%;
}
.buy-btn {
    margin-top: 3.4rem;
}
.map-tab{
    height: 400px !important;
    margin-top: 6px;
}
.cart-btm{
    margin-bottom: 4rem !important;
}
.bg-blue{
    background-color: #00a7ec;
    text-align: center !important;
}
.login-form .select2-container{
    z-index: 99 !important;
}
.login-signup-content .nav-tabs .nav-link{
    border: 1px 0 0 0!important;
}
.login-form h4{
    font-size: 100%;
    color: #fff;
    font-weight: 600;
    padding: 0.3rem 0.5rem 0.4rem;
    background-color: #e56037;
    float: left;
    width: auto;
    border-radius: 3px;
    position: relative;
}
.login-form h4:before{
    content: '';
    border-bottom: 6px solid transparent;
    border-left: 8px solid #e56037;
    border-top: 6px solid transparent;
    height: 0;
    width: 0;
    float: right;
    position: relative;
    top: 6px;
    right:-16px;
}
.otp-popup input{
    text-align: center;
}
.mar-auto{
    margin: 0px auto;
}
@media screen and (min-width: 600px) and (max-width: 1920px) {
    .top-banner #jssor_1{
        position: relative;
        left: 0;
    }
}
@media screen and (min-width: 318px) and (max-width: 780px) {
    .login-form h4{
        font-size: 90%;
        padding: 0.2rem 0.3rem 0.3rem;
    }
    .login-form h4:before{
        top: 4px;
        right:-12px;
    }

    .login-signup-content .nav-tabs li a{
        font-size: 92% !important;
        padding: 0.5rem 0;
    }
    .login-signup-content .nav-tabs .nav-link:first-child{
        border-right: 1px solid #fff !important;
    }

    .map-tab{
        height: 160px !important;
        margin-top: 6px;
    }
    .buy-btn{
        margin-top: 0.5rem !important;
    }
    .price-txt{
        margin-top: 0.35rem;
    }
    .terms-bg{
        margin: 0;
    }
    .deals-listview hr{
        margin: 0.3rem 0 0.1rem;
    }
    .joined-content p{
        font-size: 70%;
        margin-bottom: 0rem !important;
    }
    .btm-content p{
        font-size: 75%;
        text-align: center;
        color: #333;
        margin-bottom: 0.8rem;
    }
    .dash-slider h5{
        font-size: 95%;
    }
    .dash-cards .card-body .panel-grey a {
        font-size: 85%;
    }
    .membership-tabs .deal-box h5{
        font-size: 95%;
    }
    .membership-tabs .nav-tabs li a {
        font-size: 75%;
    }
    .deals-cart .buynow-txt {
        color: #228B22 !important;
        font-size: 125%;
    }
    .deals-cart .buynow-txt {
        color: #228B22 !important;
        font-size: 125%;
    }
    .deals-cart .buynow-txt span {
        font-size: 75%;
    }
    .deals-cart .buynow-txt .btn-primary {
        border-radius: 0;
        padding: 0.3rem 0.5rem 0.4rem;
        font-size: 85%;
        line-height: 0.9;
        margin-bottom: 0;
    }
    .deals-cart hr {
        margin: 0.3rem 0 0.3rem;
    }
    .deals-cart .bought-txt p {
        font-size: 75%;
        margin: 0;
    }
    .deals-cart .ratings-star {
        text-align: right;
        color: #e85324;
        font-size: 85%;
    }
    .deals-cart .bought-txt a{
        font-size: 100%;
        text-decoration: none;
        margin-left: 0.8rem;
    }
    .deals-cart .deals-tabs .nav-tabs {
        border-bottom: 0;
    }
    .deals-cart .deals-tabs .nav-tabs .nav-link {
        color: #666;
        background: none;
        border: 0;
        border-radius: 0;
        padding: 0.4rem 0.2rem;
    }
    .deals-cart .deals-tabs .nav-tabs li:last-child {
        border: 0;
        border-right: 0px solid #ddd !important;
    }
    .deals-cart .deals-tabs .nav-tabs li{
        font-size: 55%;
        border-right: 1px solid #ddd;
        text-decoration: none;
        text-align: center;
        line-height: 1.3;
    }
    .deals-cart .deals-tabs .nav-tabs li:hover{
        background-color: #eee;
    }
    .deals-cart .deals-tabs .nav-tabs li.active{
        background-color: #eee;
    }
    .deals-cart .hr-border0 hr{
        margin-bottom: 0 !important;
    }
    .deals-tab-content .address-txt{
        margin-top: 0.7rem;
    }
    .deals-tab-content .address-txt h5{
        font-size: 95%;
        color: #e85324;
        margin-bottom: 4px;
    }
    .deals-tab-content .address-txt p{
        font-size: 80%;
        margin-bottom: 8px;
        margin-left: 1rem;
    }
    .deals-tab-content .terms-txt ul{
        list-style-type: disc;
        margin: 0.5rem 0;
        padding-left: 1.5rem;
    }
    .deals-tab-content .terms-txt ul{
        list-style-type: disc;
        margin: 0.5rem 0;
        padding-left: 1.1rem;
        font-size: 75%;
    }
    .deals-cart .dealname-txt h5{
        font-size: 100%;
    }
    .deals-cart .icon-circle{
        top: -10px;
    }
    .deals-cart .icon-circle .fa {
        padding: 0.5rem;
        font-size: 100%;
    }
    .deals-cart .storename-txt a {
        font-size: 80%;
    }
    .deals-cart .price-txt b {
        font-size: 60%;
    }
    .deals-cart .price-txt span {
        font-size: 75%;
        line-height: 1;
    }

    .deals-cart .price-txt b .fa {
        font-size: 120%;
    }
    .deals-cart .price-txt p {
        font-size: 95%;
        line-height: 0.8;
        margin-bottom: 5px;
    }
    .deals-cart .buynow-txt span {
        font-size: 65%;
    }
    .deals-cart .buynow-txt {
        font-size: 90%;
    }
    .deals-cart .dealname-txt h5 {
        font-size: 90%;
        margin-bottom: 0.3rem;
    }
    .deals-listview .deal-list-box p {
        font-size: 75%;
        margin-bottom: 4px;
        line-height: 1.1;
    }
    .deals-listview .deal-list-box .price-txt p {
        font-size: 82%;
        text-align: left;
        line-height: 1;
        margin-bottom: 0px;
        color: #212529;
    }
    .deals-listview .deal-list-box .qty-txt {
        padding: 0.2rem 0.2rem;
    }
    .deals-listview .deal-list-box .terms-bg a {
        font-size: 63%;
        margin-right: 0.6rem;
    }
    .deals-listview .deal-list-box .terms-bg .fa {
        font-size: 125%;
    }
    .deals-listview .deal-list-box .buynow-txt {
        color: #228B22 !important;
        font-size: 75%;
        margin-top: 0.3rem;
    }
    .deals-listview .deal-list-box .img-thumbnail {
        min-height: 60px;
    }
}
/* jssor slider loading skin spin css */
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* jssor slider loading skin spin css */
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.jssorb057 .i {position:absolute;cursor:pointer;}
.jssorb057 .i .b {fill:none;stroke:#fff;stroke-width:2000;stroke-miterlimit:10;stroke-opacity:0.4;}
.jssorb057 .i:hover .b {stroke-opacity:.7;}
.jssorb057 .iav .b {fill:#fff; stroke-opacity: 1;}
.jssorb057 .i.idn {opacity:.3;}

.jssora073 {display:block;position:absolute;cursor:pointer;}
.jssora073 .a {fill:#ddd;fill-opacity:.7;stroke:#000;stroke-width:160;stroke-miterlimit:10;stroke-opacity:.7;}
.jssora073:hover {opacity:.8;}
.jssora073.jssora073dn {opacity:.4;}
.jssora073.jssora073ds {opacity:.3;pointer-events:none;}
/* jssor slider loading skin spin css - End */